body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background-color: #171717;
    color: aliceblue;
}



.menu {
    display: flex;
    margin-left: auto;
}

.menu ul {
    display: flex;
    gap: 30px
}

.logo {
    margin-left: 30px;
}

.hero {    
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
    background-color: #171717;
}



.info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.title {
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    max-width: 500px;
}

.ilutext-container .title {
    color: #171717;
}

.text {
    color: aliceblue;
    max-width: 500px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    max-width: 100px;
    padding: 5px;
    background-color: #DA0037;
    color: aliceblue;
    border-radius: 8px;
    border-color: #DA0037;
    font-weight: 600;
}



.image-container {
    display: flex;
    margin-left: 20px;
}

img {
    height: 280px;
    width: 280px;
}

.ilutext-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.frame-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    max-width: 900px;
}

.infoframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.infoframe .text {
    color: #171717;
    text-align: center;
    max-width: 200px;
}

.centered-image img {
    height: 120px;
    width: 120px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.quote-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.quote {
    font-style: italic;
    color: aliceblue;
    font-size: 23px;
    font-weight: 500;
    max-width: 700px;
}

.attribution {
    color: aliceblue;
    font-weight: bold;
    max-width: 700px;
    align-self: flex-end;
}

.center-blank {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.call-to-action {
    background-color: #DA0037;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

.call-to-action button {
    border-color: aliceblue;
    border-width: 1px;
    align-self: center;
    padding: 5px 15px 5px 15px;
}

.act-title {
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    max-width: 400px;
}

.subinfo {
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    max-width: 400px;
}